@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Roboto+Mono&family=Sofia&display=swap');
body{
    display: flex;
    flex-direction: column;
}
img{
    max-width: 250px;
    min-width: 200px;
    height: 50px;
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-around;
}
h1{
    flex-direction: row;
    text-align: center;
}
.vinter{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: flex-start; /* Varför fungerar inte placering? */
    font-family: 'Mountains of Cristmas', Verdana; /* Varför fungerar inte fonten? */
}
div{
    border: 3px solid red;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.top-container{
    background-image: url(./snow_winter_trees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}
.top-links{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-around;
    height: 100px;
}
.mellan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
}
.vänster{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18%;
}
.main{
    width: 60%;
}
.höger{
    width: 10%;
    background-image: url(./christmasTree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sidfot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}